= form_with(model: task, local: true) do |form|
  - if task.errors.any?
    #error_explanation
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.full_messages.each do |message|
          %li= message
  .field
    - if task.date <= Date.today
      = form.radio_button :score, :done
      = form.label :score, "◯", {value: :done, style: "display: inline-block;"}
      = form.radio_button :score, :bad
      = form.label :score, "×", {value: :bad, style: "display: inline-block;"}

  .field
    = form.text_area :body, cols: "27", rows: "5"
  .field
    = form.hidden_field :start_time
    = form.hidden_field :date
    = form.hidden_field :user_id
  .actions
    = form.submit
