#search-menu
  #search-box
    = search_form_for @q, url: "/tasks/category/#{@category.id}" do |f|
      = f.search_field :body_or_routine_logs_content_cont, class: "keyword-input", placeholder: "キーワードを入力"
      = button_tag type: "submit" do
        = icon('fas', 'search')
#category-box
  #category-box__title
    = "カテゴリー：#{@category.name}"
    = icon("fa", "chevron-down")
  #category-box__list
    = link_to root_path, class:"category-box__list__menu" do
      = icon("fa", "#{Category.first.icon}")
      = "全て"
    - Category.where.not(id: 1).each do |c|
      = link_to "/tasks/category/#{c.id}", class:"category-box__list__menu" do
        = icon("fa", "#{c.icon}")
        = c.name
.jscroll
  .task-list
    - if @tasks.length == 0
      #none-message
        = "該当する投稿はありません"
    - else
      = render "posts", tasks: @tasks
      = paginate @tasks