.form.form--task
  .form--task__title
    = "#{@task.date.strftime('%Y年 %-m月 %-d日')}"
    .form--task__menu
      - if @user.id == current_user.id
        = link_to task_path(@task), id: "delete-icon", method: :delete, data: { confirm: '削除します。よろしいですか?' } do
          = icon('fa', 'trash-alt')

  - if @user.id == current_user.id
    = render 'form', task: @task

  - else
    .task-field
      #score-field
        -if @task.score == "done"
          = icon('fa', 'check', class: "score score--check")
        -else @task.score == "bad"
          = icon('fa', 'times', class: "score score--bad")
    .task-field
      .task-field__body
        = @task.body