.task-contents
  .task-list
    - @tasks.each do |task|
      .task
        .task__left
          = link_to user_path(task.user_id) do
            .user-info
              .user-info__name
                = task.user.name
              .user-info__image
                = image_tag task.user.image.url

        .task__right
          .task__main
            .task__main__left-box
              .date
                = task.date.strftime('%-m月%-d日')

              .score
                - if task.score == "done"
                  = icon('fa', 'check', class: "score__icon score__icon--check")
                - else task.score == "bad"
                  = icon('fa', 'times', class: "score__icon score__icon--bad")

              .body
                = task.body

            .task__main__right-box
              .routine-list
                - task.user.routines.each do |r|
                  .routine
                    = r.content
              .good-job
                = icon('far', 'thumbs-up', class: "good-job__btn")
                .good-job__count
                  100
          
      