.task-show-window
  .task
    - if @task.user == current_user
      .task-menu
        = icon('fa', 'edit', id: "task-edit-icon")
        = link_to task_path(@task), id: "task-delete-icon", method: :delete, data: { confirm: '削除します。よろしいですか?' } do
          = icon('fa', 'trash-alt')
    .task-date
      = @task.created_at.strftime('%Y/%-m/%-d %-H:%M')
    .task__left
      = link_to user_path(@user) do
        .user-info.user-info--link
          .user-info__name
            = @user.name
          .user-info__image
            = image_tag @user.image.url

    .task__right
      .task__main
        .task__main__left-box
          .date
            = @task.date.strftime('%-m月%-d日')

          - if @task.score == "done"
            = icon('fa', 'check', class: "score-icon score-icon--done")
          - elsif @task.score == "bad"
            = icon('fa', 'times', class: "score-icon score-icon--bad")
          - else
            = ""

          .body
            = simple_format @task.body

        .task__main__right-box
          .routine-list
            - if @task.routine_logs.length > 0
              - @task.routine_logs.each do |r|
                .routine
                  = icon('fa', "#{r.category.icon}")
                  = r.content
            - else 
              .routine.routine--none
                習慣が設定されていません

          .reaction-contents
            .comment-content
              = icon('far', 'comment-dots')
              #comment-count
                = @task.comments.count
            .praise-content.praise-btn{id: "praise-#{@task.id}"}
              = render partial: "praise", locals: { task: @task }
  
  #reaction-menu
    = link_to task_path(@task), class: "comment-tab selected" do
      = icon('far', 'comment-dots', class: "comment-icon")
      コメント

    = link_to praised_users_index_task_path(@task), class: "praise-tab" do
      = icon('far', 'thumbs-up', class: "good-job__btn good-job--on") 
      グッジョブしたユーザー

  #reaction-contents
    #comments-window
      #comment-top
        = form_with(model: [@task, @comment], local: true, id: "comment-form") do |f|
          = f.text_area :content, placeholder: "コメントする", rows: "2", maxlength: 200
          = f.submit "SEND", id: "comment-submit"
      #comments-index
        - @comments.each do |comment|
          .user
            .user__left
              = link_to user_path(comment.user) do
                .user-info.user-info--link
                  .user-info__name
                    = comment.user.name
                  .user-info__image
                    = image_tag comment.user.image.url
            .comment-box
              .comment-content
                = simple_format comment.content
              .comment-date
                = comment.created_at.strftime('%Y/%-m/%-d %-H:%M')

- if @task.user == current_user
  = render partial: "form", locals: { task: @task }