= month_calendar events: @tasks do |date, tasks|

  = date.to_formatted_s(:only_date)

  - if HolidayJp.holiday?(date)
    .holiday_name
      = HolidayJp.between(date, date).first.name

  - if @user.id == current_user.id
    = link_to new_task_path(date) do
      .new_task_link

    - tasks.each do |task|
      - if task.score == "done"
        = link_to edit_task_path(task) do
          = icon('fa', 'check', class: "task-icon task-icon--check")
      - elsif task.score == "bad"
        = link_to edit_task_path(task) do
          = icon('fa', 'times', class: "task-icon task-icon--bad")
      - else
        = link_to edit_task_path(task) do
          = icon('fa', 'minus-circle', class: "task-icon task-icon--hidden")

      - if task.body != ""
        = link_to edit_task_path(task) do
          .task_body
            = simple_format task.body

  - else
    - tasks.each do |task|
      - if task.score == "done"
        = icon('fa', 'check', class: "task-icon task-icon--check")
      - elsif task.score == "bad"
        = icon('fa', 'times', class: "task-icon task-icon--bad")
      - else
        .task_score

      - if task.body != ""
        .task_body
          = simple_format task.body