- users.each do |user|
  .user{id: "user-#{user.id}"}
    .user__left
      = link_to user_path(user) do
        .user-info.user-info--link
          .user-info__name
            = user.name
          .user-info__image
            = image_tag user.image.url

    .user__right
      - if user != current_user
        .follow-content{id: "follow-#{user.id}"}
          = render partial: "users/follow-btn", locals: { user: user } 

      .routine-list
        - if user.routines.length != 0
          - user.routines.each do |r|
            .routine
              = r.content
        - else 
          .routine.routine--none
            習慣が設定されていません