- if @user.errors.any?
  #error_explanation
    %h2
      = pluralize(@user.errors.count, "error")
      prohibited this task from being saved:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

.form
  .form__title
    %p プロフィール編集
    = link_to "Back", :back, class: "back-btn"
  = form_with(model: @user, local: true) do |f|
    .field
      ニックネーム
      = f.text_field :name, class: 'form__user__name', maxlength: 12, placeholder: 'ニックネーム（最大12文字）'
    .field
      プロフィール画像
      = f.label :image, class: 'form__user__image' do
        = icon('fas', 'image', class: 'form__user__icon')
        = f.file_field :image, class: 'form__user__file'
    .actions
      = f.submit 'Send', class: 'submit-btn'