.user-header.user-header--fixed
  .user-header__left
    = render "user_info"
  
  .user-header__center
    = render "users/routines_others"

.index-title
  = link_to "フォロー中", follow_index_user_path(@user), class: "follow index-title--off"
  = link_to "フォロワー", follower_index_user_path(@user), class: "follower"
.user-list.user-list--down
  = render "user_index", { users: @follower_users, showing_user: @user }