.user-header
  .user-header__left
    = render "user_info"
  
  .user-header__center
    - if @user.id == current_user.id
      = render "routines_myself"
    - else
      = render "routines_others"

  .user-header__right
    .continuous-days
      .count-top
        .count
          = @continuous_days
        .unit
          日
      .text
        継続中

    .done-days
      = "達成総日数：#{@done_days}日"

= render "calendar"