.simple-calendar
  .calendar-heading
    .calendar-heading__year
      = "#{start_date.year}年"
    .calendar-heading__month
      = link_to calendar.url_for_previous_view do
        = icon('fas', 'arrow-circle-left', class: "month-btn month-btn--prev")
      .this-month
        = t('date.month_names')[start_date.month]
      = link_to calendar.url_for_next_view do
        = icon('fas', 'arrow-circle-right', class: "month-btn month-btn--next")
  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.abbr_day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            %td
              = content_tag :div, class: [calendar.td_classes_for(day)], id: "#{day}" do
                - capture_haml(day, sorted_events.fetch(day, []), &block)