!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Routine diary
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      .nav-bar
        = link_to "トップページ", root_path, class: "logo"
        - if user_signed_in?
          .menu-list
            = link_to "投稿一覧", tasks_path, class: "menu-list__menu"
            = link_to "マイページ", user_path(current_user), class: "menu-list__menu"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-list__menu"
        - else
          .menu-list
            = link_to "新規登録", new_user_registration_path, class: "menu-list__menu"
            = link_to "ログイン", new_user_session_path, class: "menu-list__menu"
    .contents
      = render 'layouts/flash'
      = yield
